body{
    margin: 0;
    background-color: rgb(241, 169, 241);
}

canvas{
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: royalblue;
}